@import 'globals';

.Dashboard {

    @media screen and (orientation: portrait) {
        width: 100vw;
        padding: 5vh 2%;
    }

    h1 {
        margin-bottom: 10vh;

        @media screen and (orientation: portrait) {
            font-size: 5vw;
            text-align: center;
        }
    }

    h2 {
        margin-bottom: 2vh;

        @media screen and (orientation: portrait) {
            font-size: 4vw;
        }
    }

    .listings-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 5vh;
        background-color: darken($bg-color, 5%);
        margin-top: 2vh;

        @media screen and (orientation: portrait) {
            height: 5vw;
            font-size: 3vw;
        }

        div {
            text-align: left;
        }
    }

    .image-container {
        height: 100%;
        width: 10%;

        @media screen and (orientation: portrait) {
            width: 12%;
        }

        img {
            height: 100%;
            width: auto;
            max-width: 8vw;
        }
    }

    .AdminListing {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10vh;
        background-color: darken($bg-color, 5%);
        margin-top: 2vh;

        @media screen and (orientation: portrait) {
            height: 12vw;
            font-size: 3vw;
            margin-top: 4vw;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 100%;
    }

    .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
        height: 100%;
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        width: 35%;
        height: 100%;
        padding-right: 10%;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            cursor: pointer;
        }
    }

    .options {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media screen and (orientation: portrait) {
            font-size: 3vw;

            button {
                font-size: 3vw;
                padding: 1vw;
            }
        }

        span {
            cursor: pointer;
        }
    }
}
