$bg-color: #f5f0ee;
$title-color: #8240be;
$main-font: 'Merienda One', cursive;
$secondary-font: 'Courgette', cursive;

%scroll {
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #a7a7a7;
    }
}

%scrollX {
    overflow: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #a7a7a7;
    }
}

.button {
    padding: 1vh;
    background-color: #327ad8;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.5vh;
    cursor: pointer;
};

.footer {
    width: 100%;
    margin-top: 15vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    text-align: center;
    font-size: 1.5vh;
    color: #707070;
    border-top: 1px solid darken($bg-color, 5%);
}