$bg-color: #eee6e4;
$title-color: #8240be;
$main-font: 'Merienda One', cursive;
$secondary-font: 'Courgette', cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: black;
}
a:visited {
    color: black;
}

body {
    width: 100vw;
    min-height: 120vh;
    overflow-x: hidden;
    background-color: $bg-color;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    width: 100%;
    height: 100%;

    .background-header {
        width: 100%;
        height: 17.5vw;
        background-image: url("assets/header.png");
        background-repeat: no-repeat;
        background-size: cover;

        div {
            width: 100%;
            height: 100%;
            background: rgb(238,230,228);
            background: linear-gradient(0deg, rgba(238,230,228,1) 0%, rgba(238,230,228,0.9699230033810399) 2%, rgba(238,230,228,0.9054972330729166) 5%, rgba(238,230,228,0.7290266448376226) 9%, rgba(238,230,228,0.4881302862942052) 12%, rgba(238,230,228,0.1491947120645133) 19%, rgba(238,230,228,0.09317230310092783) 25%, rgba(238,230,228,0.08757006220456931) 100%);
        }
    }

    .listings-section {
        width: 100%;
        padding: 0 15vw;

        h3 {
            width: 100%;
            text-align: center;
            font-family: $main-font;
        }

        .listings {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            margin-top: 1vh;
            margin-bottom: 10vh;
        }
    }
}

.Navbar {
    position: fixed;
    width: 68vw;
    height: 6vh;
    top: 2vh;
    left: 17vw;
    padding-right: 5vw;
    background-color: darken($bg-color, 1%);
    border-bottom: 1px solid darken($bg-color, 5%);
    border-radius: 0 1vh 1vh 0;
    z-index: 1000;
    // padding: 0 20% 0 20%;

    .logo-back {
        position: absolute;
        top: -1vh;
        left: -4vh;
        height: 8.5vh;
        width: 8.5vh;
        background-color: $bg-color;
        border-radius: 4.25vh;
    }
    .logo {
        position: absolute;
        top: -.75vh;
        left: -4vh;
        margin-left: .25vh;
        height: 8vh;
        width: 8vh;
    }

    .nav-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .company-name {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 4vw;
            font-size: 3.5vh;
            font-family: $main-font;
            color: $title-color;
        }

        .nav-links {
            display: inline-flex;
            justify-content: space-between;
            width: 17vw;
        }

        span, a {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 14vh;
            font-family: $secondary-font;
            font-size: 2.5vh;
            text-align: center;
            transition: font-size .1s, color .15s;
        }
        span:hover {
            cursor: pointer;
            font-size: 2.6vh;
            color: $title-color;
            transition: font-size .1s, color .15s;
        }
        a:hover {
            cursor: pointer;
            font-size: 2.6vh;
            color: $title-color;
            transition: font-size .1s, color .15s;
        }
    }
}

.Listing-Container {
    position: relative;
    margin-top: 1vh;
}
.Listing {
    position: absolute;
    width: 20vw;
    min-height: 40vh;
    left: 0;
    height: auto;
    top: 2vh;

    .header {
        display: flex;
        justify-content: space-between;
        font-family: $secondary-font;
        padding-bottom: 1vh;
    }

    .thumbnail {
        height: 38vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.Listing-Collider {
    position: relative;
    width: 20vw;
    height: 38vh;
    margin-top: 6vh;
    z-index: 100;
}

@keyframes imageExpand {
    from {
        width: 20vw;
        height: 38vh;
    }
    to {
        width: 24vw;
        height: 42vh;
    } 
}

@keyframes imageShrink {
    to {
        width: 20vw;
        height: 38vh;
    }
    from {
        width: 24vw;
        height: 42vh;
    } 
}

@keyframes listingShrink {
    to {
        width: 20vw;
        left: 0vw;
        top: 2vh;
    }
    from {
        width: 24vw;
        left: -2vw;
        top: 0vh;
    }
}

@keyframes listingExpand {
    from {
        left: 0vw;
        top: 2vh;
        width: 20vw;
    }
    to {
        width: 24vw;
        left: -2vw;
        top: 0vh;
    }
}

.expandImage {
    animation-name: imageExpand;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

.shrinkImage {
    animation-name: imageShrink;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

.expandListing {
    animation-name: listingExpand;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

.shrinkListing {
    animation-name: listingShrink;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}