$bg-color: #f5f0ee;
$title-color: #8240be;
$main-font: 'Merienda One', cursive;
$secondary-font: 'Courgette', cursive;

%scroll {
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 1px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #b9b9b9;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: black;
}
a:visited {
    color: black;
}

body {
    width: 100vw;
    min-height: 120vh;
    overflow-x: hidden;
    background-color: $bg-color;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    width: 100%;
    height: 100%;

    .background-header {
        width: 100%;
        height: 17.5vw;
        background-image: url("assets/header.png");
        background-repeat: no-repeat;
        background-size: cover;

        div {
            width: 100%;
            height: 100%;
            background: rgb(238,230,228);
            background: linear-gradient(0deg, rgba(245, 240, 238,1) 0%, rgba(245, 240, 238,0.9699230033810399) 2%, rgba(245, 240, 238,0.9054972330729166) 5%, rgba(245, 240, 238,0.72902664483726226) 9%, rgba(245, 240, 238,0.4881302862942052) 12%, rgba(245, 240, 238,0.1491947120645133) 19%, rgba(245, 240, 238,0.09317230310092783) 25%, rgba(245, 240, 238,0.08757006220456931) 100%);
        }
    }

    .listings-section {
        width: 100%;
        padding: 0 15vw;

        h3 {
            width: 100%;
            text-align: center;
            font-family: $main-font;
        }

        .listings {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            margin-top: 1vh;
            padding-bottom: 10vh;
        }
    }
}

.Navbar {
    position: fixed;
    width: 80vw;
    height: 6vh;
    top: 2vh;
    left: 10.75vw;
    padding-right: 5vw;
    background-color: darken($bg-color, 1%);
    border: 1px solid darken($bg-color, 7%);
    border-bottom: 2px solid darken($bg-color, 7%);
    border-radius: 0 1vh 1vh 0;
    z-index: 1000;
    // padding: 0 20% 0 20%;

    .logo-back {
        position: absolute;
        top: -1vh;
        left: -4vh;
        height: 8.5vh;
        width: 8.5vh;
        background-color: darken($bg-color, 7%);
        border-radius: 4.25vh;
    }
    .logo {
        position: absolute;
        top: -.75vh;
        left: -4vh;
        margin-left: .25vh;
        height: 8vh;
        width: 8vh;
    }

    .nav-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .company-name {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 4vw;
            font-size: 3.5vh;
            font-family: $main-font;
            color: $title-color;
        }

        .nav-links {
            display: inline-flex;
            justify-content: space-between;
            width: 17vw;
        }

        span, a {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 14vh;
            font-family: $secondary-font;
            font-size: 2.5vh;
            text-align: center;
            transition: font-size .1s, color .15s;
        }
        span:hover {
            cursor: pointer;
            font-size: 2.6vh;
            color: $title-color;
            transition: font-size .1s, color .15s;
        }
        a:hover {
            cursor: pointer;
            font-size: 2.6vh;
            color: $title-color;
            transition: font-size .1s, color .15s;
        }
    }
}

$height: 40vh;

.Listing-Container {
    position: relative;
    margin-top: 3vh;
}
.Listing {
    position: absolute;
    width: 20vw;
    min-height: $height;
    left: 0;
    height: auto;
    top: 2vh;

    .header {
        display: flex;
        justify-content: space-between;
        font-family: $secondary-font;
        padding-bottom: 1vh;
        height: 7vh;

        div {
            display: inline-flex;
            flex-direction: column-reverse;
        }
    }

    .thumbnail {
        height: $height;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 5px 8px 5px rgba(0,0,0,.25);
    }
}
.Listing-Collider {
    position: relative;
    width: 20vw;
    height: $height;
    margin-top: 9vh;
    z-index: 10;
    cursor: pointer;
}

@keyframes imageExpand {
    from {
        width: 20vw;
        height: $height;
    }
    to {
        width: 24vw;
        height: $height + 2vh;
    } 
}

@keyframes imageShrink {
    to {
        width: 20vw;
        height: $height;
    }
    from {
        width: 24vw;
        height: $height + 2vh;
    } 
}

@keyframes listingShrink {
    to {
        width: 20vw;
        left: 0vw;
        top: 2vh;
    }
    from {
        width: 24vw;
        left: -2vw;
        top: 1vh;
    }
}

@keyframes listingExpand {
    from {
        left: 0vw;
        top: 2vh;
        width: 20vw;
    }
    to {
        width: 24vw;
        left: -2vw;
        top: 1vh;
    }
}

.expandImage {
    animation-name: imageExpand;
    animation-duration: .15s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shrinkImage {
    animation-name: imageShrink;
    animation-duration: .15s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.expandListing {
    animation-name: listingExpand;
    animation-duration: .15s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shrinkListing {
    animation-name: listingShrink;
    animation-duration: .15s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Product-Container {
    position: fixed;
    z-index: 90;
}
.Product-Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
}

@keyframes expandProduct {
    from {transform: scale(.25);}
    to {transform: scale(1);}
}

.Product {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 70vh;
    top: 18vh;
    left: 10vw;
    background-color: $bg-color;
    animation-name: expandProduct;
    animation-duration: .15s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 200;

    .photo {
        position: relative;
        display: inline-block;
        width: 29vw;
        height: 100%;
        background-color: #404040;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        .arrow {
            position: absolute;
            height: 10%;
            width: 10%;
            top: 45%;
            background-image: url('/assets/arrow.png');
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: opacity .2s;
        }
        .left {
            left: 5%;
        }

        .right {
            right: 5%;
            transform: rotate(180deg);
        }
    }
    .photo:hover {

        .arrow {
            opacity: 1;
            background-color: none;
            transition: opacity .2s, background-color .1s;
        }
        .arrow:hover {
            cursor: pointer;
            background-color: rgba(255,255,255,.15);
            transition: background-color .1s;
        }
    }

    .info {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50vw;
        height: 100%;
        padding: 2%;
    }
    
    .product-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: $main-font;
        font-size: 3vh;

        div {
            display: inline-block;
        }
    }

    .description {
        display: inline-block;
        width: 100%;
        height: 45%;
        border-top: 1px solid darken($bg-color, 3%);
        color: #202020;
        font-size: 2vh;
        padding-top: 3%;
        @extend %scroll;
    }

    .details {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 35%;
        border-top: 1px solid darken($bg-color, 3%);
        padding-top: 2%;
        
        .detail {
            width: 30%;

            .title {
                text-align: center;
                font-family: $main-font;
                font-size: 2vh;
                margin-bottom: 1vh;
            }

            .list-item {
                text-align: center;
                color: #202020;
                font-size: 1.8vh;
                margin-bottom: .5vh;
            }
        }
    }
}