@import 'App';
@import 'Listing';
@import 'Navbar';
@import 'Product';
@import 'Photo';
@import 'Instagram';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

a {
    color: black;
}
a:visited {
    color: black;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $bg-color;
    font-family: Arial, Helvetica, sans-serif;
}
